body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Mukta";
}

.container {
    width: 834px;
    height: 1194px;
    background-image: url('fb2.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

.home-button {
    position: absolute;
    fill: rgba(255, 255, 255);
    top: 45px;
    right: 45px;
    width: 60px;
    height: 60px;
}

#heading {
    position: absolute;
    top: 173px;
    left: 126px;
}

#sendingmail{
    display: flex;
    width: 678.93px;
    height: 486.924px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    position: absolute;
    top: 338px;
    left: 124px;
    mix-blend-mode: multiply;
}

#finish-button{
    width: 380.8px;
    height: 91px;
    flex-shrink: 0;
    position: absolute;
    top: 850px;
    left: 227px;
    background: transparent;
    border: none;
}

#print-button{
    width: 263px;
    height: 62.849px;
    flex-shrink: 0;
    position: absolute;
    top: 991px;
    left: 285px;
    background: transparent;
    border: none;
    opacity: 0.5; /* Reduces opacity to give a "disabled" look */
    cursor: not-allowed; /* Changes cursor to indicate it's non-clickable */
}

