* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Mukta";
}

body {
    background-color: #facf8e;
    display: grid;
    place-items: center;
    width: 100vw;
}

.container {
    width: 834px;
    height: 1194px;
    background-image: url('fb2.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

.home-button {
    position: absolute;
    fill: rgba(255, 255, 255);
    top: 45px;
    right: 45px;
    width: 60px;
    height: 60px;
}

#finish-button{
    width: 380.8px;
    height: 91px;
    flex-shrink: 0;
    position: absolute;
    top: 850px;
    left: 227px;
    background: transparent;
    border: none;
}

#print-button{
    width: 263px;
    height: 62.849px;
    flex-shrink: 0;
    position: absolute;
    top: 991px;
    left: 285px;
    background: transparent;
    border: none;
}

