* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #273774;
    display: grid;
    place-items: center;
    width: 100vw;
}

.container {
    background: url('./homescreen.png') no-repeat center center;
    background-size: cover;
    font-family: "Mukta";
    width: 834px;
    height: 1194px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    position: relative;
}


.back-button, .home-button {
    position: absolute;
    width: 60px;
    height: 60px;
    cursor: pointer;
}


.back-button {
    top: 45px;
    left: 45px;
}


.home-button {
    top: 45px;
    right: 45px;
}


.photoheading {
    width: 644px;
    position: absolute;
    top: 477px;
    left: 106px;
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    padding: 4px 6px; 
    width: 212.245px;
    height: 65px;
    border: none;
    border-radius: 40px;
    background-color: rgba(255, 255, 255);
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 1px; 
    color: #273774;
    text-align: center;
    font-family: "Mukta";
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    position: absolute;
    top: 638px;
    left: 320px;
}


#getready:disabled {
    opacity: 0.5;
    cursor: not-allowed;
    background-color: #a5a5a5d0;
}
