
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background: url('./Blur.png') no-repeat center center;
    background-size: cover;
    font-family: "Mukta";
    width: 834px;
    height: 1194px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    position: relative;
}


.back-button, .home-button {
    position: absolute;
    width: 60px;
    height: 60px;
    cursor: pointer;
}


.back-button {
    top: 45px;
    left: 45px;
}


.home-button {
    top: 45px;
    right: 45px;
}


.hidden {
    display: none;
}


.photoheading {
    width: 644px;
    position: absolute;
    top: 128px;  
    left: 95px;
}


#photoframe {
    position: relative;
    margin-top: 90px;
}


.photo-frame {
    width: 704px;
    height: 704px;
    flex-shrink: 0;
}


.camera-container {
    position: absolute;
    top: 6%;
    left: 7%;
    flex-shrink: 0;
    width: 635px;
    height: 635px;
    display: flex;
    align-items: center;
    justify-content: center;
}


#webcam, #captured-photo {
    max-width: 100%;
    max-height: 100%;  
}


#countdown {
    position: absolute;
    font-size: 9rem;
    color: #ffffff;
    top: 30%;
    left: 45%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 5;
}

#overlay-photo{
    position: absolute;
    top: 70%; 
    max-width: 640px;
    z-index: 5;
}

#qr-code{
    position: absolute;
    top: 72.3%; 
    left: 72.6%;
    width: 160px;
    height: 160px;
    z-index: 5;
}



button {
    margin-top: 20px;
    background: none;
    border: none;
    cursor: pointer;
    padding: 10px;
    height: 150px;
    width: 150px;
}


button img{
    height: 100%;
    width: 100%;
}


#clickcomd{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 150px;
}


a {
    text-decoration: none;
    color: inherit;
}
