* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #273774;
    display: grid;
    place-items: center;
    width: 100vw;
}

.container {
    background: url('./homescreen.png') no-repeat center center;
    background-size: cover;
    position: relative;
    width: 834px;
    height: 1194px;
    flex-shrink: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

.back-button, .home-button {
    position: absolute;
    width: 60px;
    height: 60px;
    cursor: pointer;
}

.back-button {
    top: 45px;
    left: 45px;
}

.home-button {
    top: 45px;
    right: 45px;
}

.heading {
    width: 644px;
    height: 66px;
    position: absolute;
    top: 403px;
    left: 108px;
    color: #ffffff;
    text-align: center;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: "Mukta";
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    font-size: 38px;
}

#counter {
    width: 233px;
    height: 137.41px;
    flex-shrink: 0;
}

#count-input {
    position: absolute;
    top: 515px;
    left: 316px;
    width: 153.342px;
    height: 137.41px;
    flex-shrink: 0;
    text-align: center;
    border-radius: 7.966px;
    border: 1.991px solid #000;
    background: #FFF;
    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 55.335px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

#decrement{
    position: absolute;
    top: 587px;
    left: 483px;
    width: 65.718px;
    height: 65.718px;
    flex-shrink: 0;
    border: none;
    background-color: transparent;
}

#increment{
    position: absolute;
    top: 515px;
    left: 483px;
    width: 65.718px;
    height: 65.718px;
    flex-shrink: 0;
    border: none;
    background-color: transparent;
}

.counter button:disabled {
    cursor: not-allowed;
}


#print-button{
    background: transparent;
    border: none;
    flex-shrink: 0;
    position: absolute;
    top: 739px;
    left: 227px;
}