* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Mukta";
}

body {
    background-color: #facf8e;
    display: grid;
    place-items: center;
    width: 100vw;
}

.container {
    width: 834px;
    height: 1194px;
    background-image: url('sendprintout.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

.home-button {
    position: absolute;
    fill: rgba(255, 255, 255);
    top: 45px;
    right: 45px;
    width: 60px;
    height: 60px;
}


#loading_gif{
    width: 150px;
    height: 150px;
    flex-shrink: 0;
    position: absolute;
    top: 242px;
    left: 338px;
    mix-blend-mode: multiply;    
}
